/*type script*/

.presentationContent {
  margin: auto;
}

.DWWM {
  margin: 70px 0 0 0;
  overflow: hidden;
  position: relative;
  color: aliceblue;
}

.DWWM::after {
  content: "FULLSTACK!";
  display: inline-block;
  animation: animate 5.5s steps(9);
  color: aliceblue;
}

.DWWM::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: aliceblue;
  position: absolute;
  right: 0;
  border-right: 0ch solid;
  animation: blinking 1s linear infinite;
}

@keyframes animate {
  0% {
    content: "front";
    width: 0ch;
  }
  20% {
    content: "front";
    width: 6ch;
  }
  40% {
    width: 0ch;
  }
  60% {
    content: "back";
    width: 5ch;
  }
  80% {
    width: 0ch;
  }
  100% {
    content: "FULLSTACK!";
    width: 11ch;
  }
}

@keyframes blinking {
  from, 25% {
    opacity: 0;
  }
  50%, to {
    opacity: 1;
  }
}


/*progress bar*/

.progress-bar-move-styleAlgorithmic {
  animation: progress-bar-move-styleAlgorithmic 2.5s ease-out 0s;
  animation-fill-mode: forwards;
  width: 0%;
}
  
.progress-bar-move-styleHtml {
  animation: progress-bar-move-styleHtml 2.5s ease-out 1.5s;
  animation-fill-mode: forwards;
  width: 0%;
}

.progress-bar-move-styleCssScssSass {
  animation: progress-bar-move-styleCssScssSass 2.5s ease-out 2.5s;
  animation-fill-mode: forwards;
  width: 0%;
}

.progress-bar-move-styleJavascript {
  animation: progress-bar-move-styleJavascript 2.5s ease-out 3.5s;
  animation-fill-mode: forwards;
  width: 0%;
}

@keyframes progress-bar-move-styleAlgorithmic {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-bar-move-styleHtml {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progress-bar-move-styleCssScssSass {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progress-bar-move-styleJavascript {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

.progress-bar-animate {
  background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 2rem 2rem;
  -webkit-animation: progress-bar-animate 1s linear infinite;
  animation: progress-bar-animate 1s linear infinite;
}

@-webkit-keyframes progress-bar-animate {
	from {
    background-position: 0 0;
	}
	to {
	  background-position: 2rem 0;
	}
}

@keyframes progress-bar-animate {
	from{
    background-position: 0 0;
	}
	to{ 
	  background-position: 2rem 0;
	}
}                          

@media (max-width: 900px) {
  .DWWM::after, .DWWM::before {
    display: none;
  }
}

/*vapor text*/

.vaporText {
  padding-top: 5%;
  overflow: hidden;
  font: 1.75rem sans-serif;
  font-weight: bolder;
  color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.vapor, .vaporStart, .vaporEnd {
  display:inline-block;
  text-shadow: 0 0 0 whitesmoke;
  -webkit-animation: smoky 5s 5.5s both;
          animation: smoky 5s 5.5s both;
}

.vaporStart {
  margin-left: 55%;
}

.vaporEnd {
  margin-right: auto;
}

.vaporStart:nth-child(even), .vapor:nth-child(even), .vaporEnd:nth-child(even) {
  -webkit-animation-name: smoky-mirror;
          animation-name: smoky-mirror;
}

@-webkit-keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@-webkit-keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

.vaporStart:nth-of-type(1) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.vapor:nth-of-type(2) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.vapor:nth-of-type(3) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.vapor:nth-of-type(4) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.vapor:nth-of-type(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.vapor:nth-of-type(6) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.vapor:nth-of-type(7) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

.vapor:nth-of-type(8) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

.vapor:nth-of-type(9) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.vapor:nth-of-type(10) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.vapor:nth-of-type(11) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.vapor:nth-of-type(12) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.vapor:nth-of-type(13) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.vapor:nth-of-type(14) {
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}

.vapor:nth-of-type(15) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.vapor:nth-of-type(16) {
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

.vapor:nth-of-type(17) {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}

.vapor:nth-of-type(18) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

.vapor:nth-of-type(19) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

.vapor:nth-of-type(20) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.vapor:nth-of-type(21) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.vapor:nth-of-type(22) {
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
}

.vapor:nth-of-type(23) {
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}

.vaporEnd:nth-of-type(24) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

@media (max-width: 900px) {
  .vaporText {
    padding-top: 1%;
  }
  .vapor, .vaporStart, .vaporEnd {
    font-size: 0.55rem;
    font-weight:bold;
  }
  .vaporStart {
    margin-left: 10%;
  }
  .vaporEnd {
    margin-right: auto;
  }
}