/*ALL*/
* {
    font-family: 'Courier New', Courier, monospace;
}

*:hover {
   transition: all 100ms;
}

body {
    background-color: black;
}

h1, h3 {
    font-weight: 600;
}

.linky {
    font-style: italic;
    color: white;
    font-size: large;
}

.linkClick {
    color: white;
    font-size: smaller;
}

.bi-pdf {
    display: flex;
    align-items: center;
    font-size: larger;
}

.bi-file-earmark-pdf {
    width: 16px; 
    height: 16px;
    color: red;
}

.bi-award {
    display: flex;
    align-items: center;
}

.bi-award-fill {
    width: 16px; 
    height: 16px;
    color: goldenrod
}

.bi-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 5%;
}

.bi-mail, .bi-linkedin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    padding: 5px;
    font-size: larger;
    color: white;
}

.bi-natel, .bi-geo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 350px;
    padding: 5px;
    font-size: larger;
    color: white;
}

.bi-envelope-at-fill, .bi-telephone-fill, .bi-geo-alt-fill, .bi-linkedin {
    width: 16px; 
    height: 16px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 11.5% 5%;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}


/*NavBar*/

.navbar-nav {
    align-items: baseline;
}
.nav-item-home {
    padding-inline-start: 115px;
}

.nav-item {
    padding-inline-start: 145px;
}

.navbar-brand {
    margin: 0 50px;
}

ul:hover li {
    filter: blur(2px);
    transition: 667ms;
}

ul li:hover {
    filter: blur(0px);
    transition: 667ms;
}


/*index*/

/*.backgroundIndex {
    background-image: url();
}*/

.login {
    display: flex;
    align-items: baseline;
    color: white;
}

.loginUser {
    background-color:transparent;
    color: white;
    text-transform: capitalize;
}

#helloUser, #helloUserMirror {
    display: none;
    text-transform: capitalize;
}

.hi {
    font-size: xx-large;
    margin: 4% 10%;
    color: white;
}

.hiMirror {
    font-size: xx-large;
    position: absolute;
    font-style: oblique;
    top: 96px;
    left: 154px;
    transform: rotateX(180deg);
    line-height: 50px;
    transform-origin: bottom;
    background: linear-gradient(to top, white, transparent);
    -webkit-background-clip: text;
    color: transparent;
}

.hiMirrorUser {
    font-size: xx-large;
    position: absolute;
    font-style: oblique;
    top: 107px;
    left: 154px;
    transform: rotateX(180deg);
    line-height: 50px;
    transform-origin: bottom;
    background: linear-gradient(to top, white, transparent);
    -webkit-background-clip: text;
    color: transparent;
}

.goldHi {
    text-shadow: 0 0 5px whitesmoke, 0 0 10px wheat, 0 0 15px wheat, 0 0 20px wheat, 0 0 25px wheat, 0 0 30px wheat;
}

.container {
    color: white;
    font-size: x-large;
    margin: 100px 100px;
}

.mindMeister{
    margin: 0 0;
}

.firstRow {
    margin:  2% 0;
    justify-content:space-evenly;
}

.secondRow {
    display: flex;
    flex-direction: row-reverse;
}

.buttonGenius {
    background: #2f2f2f;
    width: 100px;
    padding: 25px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
    color: gray;
    box-shadow: -2px 0 5px gray, -2px -2px 5px black, inset 2px 0 5px gray, inset -2px -2px 5px black;
}

.zoomResponsiveButtonGenius {
    zoom: 200%;
}

.buttonSmart {
    background: #2f2f2f;
    width: 250px;
    padding: 25px 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 15px;
    color: gray;
    box-shadow: -2px 0 5px gray, -2px -2px 5px black, inset 2px 0 5px gray, inset -2px -2px 5px black;
}

.fontAdaptiveButtonSmart {
    font-style: italic;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.zoomResponsive:hover {
    zoom: 200%;
}

.ideeCreative {
    padding: 130px 150px 0 0;
    margin: 0 0 0 0;
    height: 20vh;
    width: 10vw;
    justify-content: center;
    border-radius: 100px;
    text-decoration: underline;
    text-decoration-color: #2f2f2f;
    color: #2f2f2f;
    font-size: xx-large;
    background-image: url(../assets/backgroundCreative.jpg);
    background-position: center;
    display: none;
}

#altAudio {
    font-style: italic;
    color: white;

}

.litBulb {
    box-shadow: 0px 0px 100px 10px wheat, inset 0px -10px 40px -5px wheat;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke, 0 0 10px wheat, 0 0 15px wheat, 0 0 20px wheat, 0 0 25px wheat, 0 0 30px wheat;

}

.fontAdaptive {
    margin-top: 10px;
}

.fontAdaptive:hover {
    font-style: italic;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonDesign {
    margin-bottom: 5px;
}

.buttonErgonomic {
    background: #2f2f2f;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    color: gray;
    box-shadow: -3px 0 10px #212529, -2px -2px 10px black, inset 3px 0 10px #212529, inset -2px -2px 10px black;
}

.buttonErgonomic:hover {
    box-shadow: -2px 0 5px gray, -2px -2px 10px black, inset 2px 0 5px gray, inset -2px -2px 10px black;
}

.colorSecured {
    color:red;
    width: 200px;
    background-color: black;
}

.colorSecured:hover {
    color: orange;
}

.secure{
    font-style: italic;
    color: greenyellow;
}

@media (max-width: 1024px) {
    .row {
     justify-content: center;
    } 
    #helloWorldMirror, #helloUser, #helloUserMirror, .login {
        display: none;
    }
}


/*c.v.*/

/*.backgroundCV {
    background-image: url();
}*/

.onlineDownload {
    margin: 1% 75px;
}

.welcome {
    color: white;
    font-size: 4rem;
    font-style: oblique;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.overlap, .overlap-front, .overlap-back {
    text-align: center;
    font-size: 10vmin;
    font-weight: 600;
    text-transform: uppercase;
}

.overlap-front {
    margin-top: 25px;
}

.overlap-back {
    margin-bottom: 50px;
}

  .overlap{
    --overlap: .20ch;
    --shadow-offset: .1ch;
    --shadow-blur: .2ch;
    --shadow-color: black;
    letter-spacing: calc(var(--overlap) * -1); 
    isolation: isolate;
}

  .overlap-front { --mult: 1; }
  .overlap-back { --mult: -1; }
  
  .overlap>span { 
    position: relative;
    z-index: calc(var(--index, 1) * var(--mult, 1));
}

  .overlap-front>span:not(:first-of-type),
  .overlap-back>span:not(:last-of-type){
    text-shadow: 
      calc(var(--mult, 1) * var(--shadow-offset,0) * -1) 0 
      var(--shadow-blur, 0) 
      var(--shadow-color, black);
}

.cv {
    color: white;
    border: solid 1px;
    border-color: aliceblue;
    margin: 10px 150px;
    padding: 25px;
    border-radius: 50px;
}

/*.anaglyphe:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}*/

.cvStyle {
    width: 50%;
    margin: auto 2%;
    border-color: white;
}

.cvLink {
    text-decoration: none;
}

.profilClass {
    margin-left: 55px;
}

.systemTabNote {
    display: flex;
}

.systemTab, .systemNote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.tabNote {
    display: flex;
    padding: 10px 10px 10px 0;
    align-items: flex-start;
}

.checkPuzzle {
    width: 25px;
    margin-left: 15px;
}

.checkRedPuzzleFirst {
    width: 25px;
    margin-left: 15px;
}
.checkRedPuzzle {
    width: 25px;
    margin-left: 0;
}

.checkPoint {
    width: 50px;
}

.checkLocal {
    width: 25px;
}

.accordion-item, .accordion-header, .accordion-button {
    background-color: black;
    color: white;
    border-color: white;
}

@media (max-width: 1024px) {
    .cv {
        color: white;
        border: solid 1px;
        border-color: aliceblue;
        margin: 10px;
        padding: 10px;
        border-radius: 50px;
    }
    .card-title {
        font-size: 1rem;
    }
}

@media (max-width: 512px) {
    .cvStyle {
        width: 100%;
    }
}


/*about*/

.backgroundAbout {
    background-image: url(../assets/backgroundAbout.png);
    background-size: 100%;
    background-position: 100%;
}

.presentation {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 18%;
}

.aboutClass {
    background-color: #212529;
    color: aliceblue;
}

.dispoProgressBar {
    padding: 3% 10%;
    font-weight: bolder;
    font-style: italic;
    margin: 0 8%;
}

.progress {
    border: solid 1px;
    border-color: transparent;
    border-radius: 10px;
}

.progress-bar {
    width: 100%;
}

@media (max-width: 1024px) {
    .backgroundAbout {
        background-image: none;
    }
    .dispoProgressBar {
        margin-top: 15px;
    }
}


/*portfolio*/

.backgroundPortfolio {
    background-image: url(../assets/backgroundPortfolio.png);
    min-height: 100vh;
    background-repeat: no-repeat;
}

.card-headline {
    font: 2em sans-serif;
    font-weight: bold;
}

.card-subtitle {
    font: 1.5em sans-serif;
    font-weight: bold;
}

.linky, .linkClick, .cliquezSurLeLien {
    font: 1em sans-serif;
    font-weight: bolder;
}

.portfolioStyle {
    width: 15rem;
    margin: 10px;
}

.border-primary {
    rotate: -10deg;
    background: rgba(13, 110, 253, 0.25);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: -10px 10px 50px 0px rgb(13, 110, 253);
}

.border-danger {
    rotate: -10deg;
    background: rgba(220, 53, 69, 0.25);
    border-radius: 40px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: -10px 10px 50px -5px rgb(220, 53, 69);
}

.border-warning {
    rotate: -10deg;
    background: rgba(255, 193, 7, 0.25);
    border-radius: 40px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: -10px 10px 50px -10px hwb(45 3% 0%);
}

.cliquezSurLeLien {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .backgroundPortfolio {
        background-image: none;
    }
    .cards {
        flex-direction: column; 
        align-items: center;
    }
}


/*contact*/

/*.backgroundContact {
    background-image: url();
}*/

.qrCode {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.vcfQrCodePost {
    color: #fff;
    width: 90px;
    height: 110px;
    margin: 1% 5%;
}

.contact {
    color: white;
    display: flex;
    justify-content: center;
}

:any-link {
    color: white;
}

a:hover {
    color: blue;
}

.deadline {
    color: black;
}

.deadline:hover {
    color: black;
}

@media (max-width: 1024px) {
    .vcfQrCodePost {
        width: 15%;
        height: 15%;
        margin-bottom: 25%;
    }
}